/* global  */

/* //? Global Font 40-500-600-700 */
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide input type-number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  color: var(--primary-blue);
}
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/* variable */
:root {
  font-size: 10px;
  --secondary-grey: #a3a3a3;
  --primary-red: #ff0000;
  --primary-blue: #0f5288;
  --primary-blue-light: rgba(15, 82, 136, 0.8);
  --primary-black: #000000;
  --primary-white: #ffffff;
  --secondary-blue: #80b5d8;
}

/* =============== font families  */
.mont_400 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 400;
}
.mont_500 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 500;
}
.mont_600 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 600;
}
.mont_700 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
}

.playfair_400 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.playfair_500 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.playfair_600 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.playfair_700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* =====================Shared  */
.primary-btn,
.secondary-btn,
.tertiary-btn {
  border-radius: 0.35rem;
}
.secondary-btn {
  border: none;
  padding: 0.95rem 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: var(--primary-white);
  background-color: var(--primary-blue-light);
  font-size: 1.7rem;
}
.secondary-btn:hover {
  background-color: var(--primary-blue);
}

.primary-btn,
.tertiary-btn {
  padding: 0.95rem 1.9rem;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  font-size: 2rem;
}
.tertiary-btn {
  color: var(--primary-blue);
  background: rgba(255, 255, 255, 0.65);
}

/* ============create-account-screen============ */

nav.create-account_nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
}

nav.create-account_nav img {
  height: 6rem;
}

#account .form_container {
  display: flex;
  justify-content: center;
}

#account .create-account_form {
  /* width: 50%; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--primary-white);
  /* padding: 4rem 1rem; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem !important;
  border-radius: 0.35rem;
}

#account input {
  height: 4rem;
}
#account {
  position: relative;
}

#account main {
  position: relative;
}

#account #ellipse-illustrator {
  top: -8vw;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1390px) {
  #account #ellipse-illustrator {
    top: 0vw;
  }
}

@media only screen and (max-width: 900px) {
  #account #ellipse-illustrator {
    display: none;
  }
  body {
    background: var(--secondary-blue);
  }
}

.create-account_form {
  margin-bottom: 2rem;
}

.create-account_form header h2 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-blue);
}

.create-account_form p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--secondary-grey);
}
/* required star in form label */
.required {
  color: var(--primary-red);
}

.form-division_container {
  display: flex;
}
.form-division_container .left_division {
  display: flex;
  flex-direction: column;
}
.form-division_container .right_division {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.form-division_container .left_division {
  margin-right: 5rem;

  /* //! explicit margin right used , to be mitigated later */
}

.form-container {
  display: flex;
  justify-content: center;
}

.create-account_form label {
  align-items: center;
  margin-top: 1.4rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.create-account_form input {
  border: 1px solid var(--secondary-blue);
  border-radius: 0.25rem;
  padding-left: 1rem;
  width: 25rem;
  height: 3rem;
  font-size: 1.8rem;
  outline: none;
}

@media only screen and (max-width: 750px) {
  .create-account_form input {
    height: 4rem;
    font-size: 1.8rem;
  }
}

.create-account_form input:hover {
  border: 2px solid var(--primary-blue);
}

.create-account_form input:focus {
  border: 2px solid var(--primary-blue);
}
.form-container {
  margin-top: 2rem;
  /* background-color: red; */
}
.form-container form header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form-container form header strong {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--primary-blue);
}
.form-container .primary-btn {
  margin-top: 4rem;
}

.form-btn_container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1390px) {
  #account .create-account_form {
    /* width: 70%; */
  }
}

@media only screen and (max-width: 850px) {
  #account .create-account_form {
    /* width: 80%; */
  }
}
@media only screen and (max-width: 750px) {
  #account .create-account_form label {
    flex-direction: column;
  }
  #account .create-account_form {
    width: 95%;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .secondary-btn {
    margin-top: 2rem;
  }
  .form-division_container {
    flex-direction: column;
  }
  .form-btn_container {
    display: block;
  }
  .form-btn_container .primary-btn {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.75rem;
  }
}

.create-account_form input::placeholder {
  font-size: 1.4rem;
}
@media only screen and (max-width: 500px) {
  /* shift label text to left most */
  .create-account_form label {
    align-items: flex-start;
  }
  .form-container {
    justify-content: flex-start;
  }
  .create-account_form input {
    width: 100%;
    height: 5rem;
  }
  .create-account_form label,
  .form-division_container .left_division {
    width: 100%;
  }

  .form-btn_container {
    width: 100%;
  }

  .form-container form {
    width: 100%;
  }
  .form-container form .primary-btn {
    width: 100%;
  }
}

/* ========================  change password  */
/* most classes in change password screen are shared from "create-account-page" styles */

.secondary-toolbar {
  padding: 0rem 10rem;
  margin-bottom: 2rem;
  /* background-color: red; */
}

.secondary-toolbar .create-account_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondary-toolbar .tertiary-btn,
.secondary-toolbar .primary-btn {
  margin: 0.25rem;
}
.secondary-toolbar h4 {
  color: white;
  margin: 0.55rem 0rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 710px) {
  .secondary-toolbar {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 750px) {
  .create-account_form label {
    align-items: flex-start;
  }
}

/* ================== change password  =====================  */
/* 
.change-password-screen{

}
 */

.icon-circular-blob {
  height: 8rem;
  width: 8rem;
  background-color: red;
  border-radius: 50%;
}

.primary-blue-gradient {
  box-shadow: 0px 10px 30px 0px var(--secondary-blue);
  /* background-image: linear-gradient(
    40deg,
    var(--primary-blue) 0%,
    #38d0fc 100%
  ); */
}

.reset-password-screen .blob_container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.reset-password-screen .blob_container .icon-circular-blob {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-password-screen .left_division {
  margin: 0;
}
.reset-password-screen .blob_container .icon-circular-blob i {
  font-size: 5rem;
  color: var(--primary-white);
}
.reset-password-screen .form-container .primary-btn {
  margin-top: 2rem;
}
.reset-password-screen .form-container p {
  margin-top: 2rem;
}
.reset-password-screen .form-container input {
  width: 100%;
}

#account input {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
#account input:hover,
#account input:active,
#account input:focus {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}

.create-account_form {
  position: relative;
}
.create-account_form footer {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
}

.create-account_form footer a {
  text-decoration: none;
  color: var(--primary-blue);
}

.create-account_form footer a span:hover {
  text-decoration: underline;
}

/* unvisited link */
.create-account_form footer a:link {
  color: var(--primary-blue);
}
/* unvisited link */
.create-account_form footer a:visited {
  color: var(--primary-blue);
}

.create-account_form button {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 40%;
}

@media only screen and (max-width: 900px) {
  .create-account_form button {
    position: relative;
    width: 100%;
  }
}
.create-account_form button {
  border-radius: 0px;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p i {
  font-size: 1.5rem;
  color: var(--primary-blue);
}

footer p a {
  display: flex;
  align-items: center;
}
