/* global  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide input type-number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  color: var(--primary-blue);
}
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/* variable */
:root {
  font-size: 10px;
  --secondary-grey: #a3a3a3;
  --primary-red: #ff0000;
  --primary-orange: #f85320;
  --primary-blue: #0f5288;
  --primary-blue-light: rgba(15, 82, 136, 0.8);
  --primary-black: #000000;
  --primary-white: #ffffff;
  --secondary-blue: #80b5d8;
  --primary-cyan: #c4fb99; /* footer btn bg for bca appication screen */
}

/* poppins font import  @100;300;400;500;600 */

.poppins_base {
  font-family: "Poppins", sans-serif;
}
.poppins_100 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.poppins_300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.poppins_400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.poppins_500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.poppins_600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* =====================Shared  */
.primary-btn,
.secondary-btn,
.tertiary-btn {
  border-radius: 0.35rem;
}
.secondary-btn {
  border: none;
  padding: 0.95rem 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: var(--primary-white);
  background-color: var(--primary-blue-light);
  font-size: 1.7rem;
}
.secondary-btn:hover {
  background-color: var(--primary-blue);
}

.primary-btn,
.tertiary-btn {
  padding: 0.95rem 1.9rem;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  font-size: 2rem;
}
.tertiary-btn {
  color: var(--primary-blue);
  background: rgba(255, 255, 255, 0.65);
}

/* ============create-account-screen============ */

nav.create-account_nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
}

nav.create-account_nav img {
  height: 6rem;
}

#account .form_container {
  display: flex;
  justify-content: center;
}

#account .create-account_form {
  min-width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--primary-white);
  /* padding: 4rem 1rem; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  border-radius: 0.35rem;
  padding-bottom: 5rem !important;
}

/* todo:  */
@media only screen and (min-width: 900px) {
  #account .create-account_form {
    padding-bottom: 10rem !important;
  }
}

@media (max-width: 1090px) {
  #account .create-account_form {
    width: fit-content !important;
  }
}

#account input {
  height: 4rem;
}
#account {
  position: relative;
}

#account main {
  position: relative;
}

#account #ellipse-illustrator {
  top: -8vw;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1390px) {
  #account #ellipse-illustrator {
    top: 0vw;
  }
}

@media only screen and (max-width: 900px) {
  #account #ellipse-illustrator {
    display: none;
  }
  body {
    background: var(--secondary-blue);
  }
}

.create-account_form {
  margin-bottom: 2rem;
}

.create-account_form header h2 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-blue);
}

.create-account_form p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--secondary-grey);
}
/* required star in form label */
.required {
  color: var(--primary-red);
}

.form-division_container {
  display: flex;
}
.form-division_container .left_division {
  display: flex;
  flex-direction: column;
}
.form-division_container .right_division {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.form-division_container .left_division {
  margin-right: 5rem;

  /* //! explicit margin right used , to be mitigated later */
}

.form-container {
  display: flex;
  justify-content: center;
}

.create-account_form label {
  align-items: center;
  margin-top: 1.4rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.create-account_form input {
  border: 1px solid var(--secondary-blue);
  border-radius: 0.25rem;
  padding-left: 1rem;
  width: 25rem;
  height: 3rem;
  font-size: 1.8rem;
  outline: none;
}

@media only screen and (max-width: 750px) {
  .create-account_form input {
    height: 4rem;
    font-size: 1.8rem;
  }
}

.create-account_form input:hover {
  border: 2px solid var(--primary-blue);
}

.create-account_form input:focus {
  border: 2px solid var(--primary-blue);
}
.form-container {
  margin-top: 2rem;
  /* background-color: red; */
}
.form-container form header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form-container form header strong {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--primary-blue);
}
.form-container .primary-btn {
  margin-top: 4rem;
}

.form-btn_container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  #account .create-account_form label {
    flex-direction: column;
  }
  #account .create-account_form {
    width: 95%;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .secondary-btn {
    margin-top: 2rem;
  }
  .form-division_container {
    flex-direction: column;
  }
  .form-btn_container {
    display: block;
  }
  .form-btn_container .primary-btn {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.75rem;
  }
}

.create-account_form input::placeholder {
  font-size: 1.4rem;
}
@media only screen and (max-width: 500px) {
  /* shift label text to left most */
  .create-account_form label {
    align-items: flex-start;
  }
  .form-container {
    justify-content: flex-start;
  }
  .create-account_form input {
    width: 100%;
    height: 5rem;
  }
  .create-account_form label,
  .form-division_container .left_division {
    width: 100%;
  }

  .form-btn_container {
    width: 100%;
  }

  .form-container form {
    width: 100%;
  }
  .form-container form .primary-btn {
    width: 100%;
  }
}

/* ========================  change password  */
/* most classes in change password screen are shared from "create-account-page" styles */

.secondary-toolbar {
  padding: 0rem 10rem;
  margin-bottom: 2rem;
  /* background-color: red; */
}

.secondary-toolbar .create-account_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondary-toolbar .tertiary-btn,
.secondary-toolbar .primary-btn {
  margin: 0.25rem;
}
.secondary-toolbar h4 {
  color: white;
  margin: 0.55rem 0rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 710px) {
  .secondary-toolbar {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 750px) {
  .create-account_form label {
    align-items: flex-start;
  }
}

/* ================== change password  =====================  */

.icon-circular-blob {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.primary-blue-gradient {
  box-shadow: 0px 10px 30px 0px var(--secondary-blue);
}

.reset-password-screen .blob_container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.reset-password-screen .blob_container .icon-circular-blob {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-password-screen .left_division {
  margin: 0;
}
.reset-password-screen .blob_container .icon-circular-blob i {
  font-size: 5rem;
  color: var(--primary-white);
}
.reset-password-screen .form-container .primary-btn {
  margin-top: 2rem;
}
.reset-password-screen .form-container p {
  margin-top: 2rem;
}
.reset-password-screen .form-container input {
  width: 100%;
}

#account input {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
#account input:hover,
#account input:active,
#account input:focus {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}

.create-account_form {
  position: relative;
}
.create-account_form footer {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
}

.create-account_form footer a {
  text-decoration: none;
  color: var(--primary-blue);
}

.create-account_form footer a span:hover {
  text-decoration: underline;
}

/* unvisited link */
.create-account_form footer a:link {
  color: var(--primary-blue);
}
/* unvisited link */
.create-account_form footer a:visited {
  color: var(--primary-blue);
}

.create-account_form .submit-btn {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 40%;
}

@media only screen and (min-width: 900px) {
  .create-account_form .submit-btn {
    margin: 0rem 0.25rem 0.25rem 0rem;
  }
}

@media only screen and (max-width: 900px) {
  .create-account_form .submit-btn {
    position: relative;
    width: 100%;
  }
}
.create-account_form button {
  border-radius: 0px;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p i {
  font-size: 1.5rem;
  color: var(--primary-blue);
}

footer p a {
  display: flex;
  align-items: center;
}

#account button {
  border-radius: 0.35rem;
}

.nav_btn-container .tertiary-btn,
.nav_btn-container .primary-btn {
  /* display: none; */
  font-size: 1.5rem;
  padding: 0.35rem 0.75rem;
}

/* =======================================================application form for bca screen styling starts from here  */

.timeline {
  padding-bottom: 4rem;
  /* background: red; */
  display: flex;
  justify-content: center;
}

.timeline-block {
  position: relative;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  width: 65%;
}

.timeline-block hr {
  /* display: none; */
  transform: translateX(-50%);
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  width: 75%;
  border: none;
  height: 0.25rem;
  background: var(--secondary-grey);
}
.timeline a {
  z-index: 100;
  text-decoration: none;
}

.step-count-circle {
  position: relative;
  border: 1rem solid var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  padding: 2rem;
  margin: 0.25rem;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-radius: 50%;
}

.step1-after-txt:after {
  top: 4rem;
  color: black;
  position: absolute;
  content: "Personal Information";
  font-size: 1.4rem;
}

.step2-after-txt:after {
  font-size: 1.4rem;
  top: 4rem;
  color: black;
  position: absolute;
  content: "Education History";
}
.step3-after-txt:after {
  font-size: 1.4rem;
  top: 4rem;
  color: black;
  position: absolute;
  content: "Documents";
}
.step4-after-txt:after {
  font-size: 1.4rem;
  top: 4rem;
  color: black;
  position: absolute;
  content: "Declaration & Consent";
}

/* 
.timeline .step-count-line {
} */

.detail-row-section {
  margin-top: 5rem;
  /* background: red; */

  margin-left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 900px) {
  .detail-row-section {
    width: 100%;
  }
}

.detail-row-section h4 {
  font-size: 2rem;
  color: var(--primary-blue);
}

.detail-row-division {
  display: flex;
  justify-content: space-between;
  /* background: green; */
}

.detail-col {
  font-size: 3rem;
  width: 33.33%;
}
.detail-col input {
  margin: 1rem 0rem;
  width: 90%;
}

#account input[type="radio"] {
  height: auto;
}

.gender-field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.gender-field span {
  font-size: 1.6rem;
}
.gender-field label {
  font-size: 1.4rem;
  margin: 0rem 1rem;
}
.gender-field label input {
  margin: 1rem;
}

.application-form-footer {
  margin: 2rem 0rem;
}

.application-form-screen {
  padding-bottom: 5rem;
}

/* application for for bca - footer   */

.application-form-footer {
  width: 95%;
  transform: translateX(-50%);
  margin-left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application-form-footer p {
  color: var(--primary-orange);
}
/* proceed backward || proceed forward button for footer */
.application-form-footer .proceed-btn {
  font-size: 1.6rem;
  /* margin: 1rem; */
  padding: 0.5rem;
  color: var(--primary-black);
  background-color: var(--primary-cyan);
}

.footer-btn-container {
  /* margin-bottom: 2rem; */
  padding-right: 2rem;
}

.application-form-screen .create-account_form {
  width: 80%;
}

.application-form-screen .create-account_form .notice-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 4rem;
}

.notice {
  width: 85%;
  /* transform: translateX(-50%); */
  /* margin-left: 50%; */
  border: 1px solid var(--primary-orange);
  border-radius: 0.25rem;
  padding: 0.75rem 0rem;
}
.notice p {
  color: var(--primary-black);
  font-size: 1.5rem;
}
/*  ! application form 65% inner container for content body */
.application-form-container {
  width: 85%;
  transform: translateX(-50%);
  margin-left: 50%;
}

/* ====================== BCA FORM-  Documents Screen */
/* 2 column detail-row-section */

.two-col-detail-row-section h4 {
  margin-top: 5rem;
  color: var(--primary-blue);
  font-size: 2rem;
}
.two-col-detail-row-section h4 {
  color: var(--primary-blue);
  font-size: 2rem;
}

.two-col-detail-row-section .column-container {
  display: flex;
  justify-content: space-between;
}

.two-col-detail-row-section .detail-col {
  width: 47%;
}

@media only screen and (max-width: 900px) {
  .application-form-screen .create-account_form footer {
    position: relative;
  }
}

.two-col-detail-row-section .detail-col .input-field-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 0rem;
}
.two-col-detail-row-section .detail-col .input-field-container input {
  width: 60%;
  border: 2px solid var(--primary-blue);
}

.two-col-detail-row-section .detail-col .input-field-container label {
  width: 40%;
  font-size: 1.7rem;
}
